.footer-container {
    background-color: #05296a;
    box-sizing: border-box;
    height: 100%;
    padding: 2rem 2rem;
    
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 0;
    width: 100%;
}

.footer-grid-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo {
    height: 4rem;
    object-fit: contain;
    justify-self: start;
}

.footer-text {
    color: #787878;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    gap: 2rem ;
}

.social-media-icon {
    cursor: pointer;
    fill: #fff;
    transition: fill 0.3s ease;
}

.social-media-icon.facebook:hover {
    fill: #3b5999;
}

.social-media-icon.instagram:hover {
    fill: #c13584;

}

.social-media-icon.email:hover {
    fill: #FBB721;
}

.social-media-icon.phone:hover {
    fill: #FBB721;
}

.useful-links p {
    color: #fff;
}

.quick-links-list {
    display: grid;
    
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 0.5rem;
}

.quick-link {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: #FBB721; 
}

.quick-link a{
    color: #787878;
    transition: color 0.3s ease;
}

.quick-link a:hover {
    color: #fff;
}

.contact-info p{
    color: #fff;
}

.contact-info-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 0.5rem;
}

.contact-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    
    color: #FBB721; 
}

.contact-info-item a{
    color: #787878;
    cursor: pointer;
    transition: color 0.3s ease;
    line-height: 24px;
    
}

.contact-info-item a:hover {
    color: #fff;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: #787878;
    text-align: center;
    font-size: 0.8rem;
}

.footer-bottom p {
    margin-bottom: 0;
}

@media (max-width: 1024px) { 
    .footer-container {
        background-color: #05296a;
        height: 100%;
        padding: 2rem 2rem;
        width: auto;
    }
    .footer-grid {
        grid-template-columns: repeat(1, 1fr);
        
        gap: 1rem;
        margin-top: 0;
        width: 100%;
    }

    .footer-grid-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-text {
        text-align: center;
    }

    .quick-links-list {
        display: grid;
        
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        gap: 0.5rem;
    }

    .contact-info-list {
        display: grid;
        grid-template-rows: auto;
        grid-auto-flow: row;
        gap: 0.5rem;
    }
}